*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#imgs{
width: 20px;
height: 20px;
}
body
{
/* background-color: black; */
background-image: url('https://images.unsplash.com/photo-1454540723233-f0b9ff08b132?q=80&w=1412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-repeat: no-repeat;
background-size: cover;
}
.container
{
    background:linear-gradient(135deg, #00feba,#5b548a);

width: 350px;
height: 500px;
margin: 50px auto;
padding: 40px;
border-radius: 15px;

}
#add{
    width: 40px;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;

}
#cityinput{
    width:200px;
    height: 30px;
    padding: 10px;
    border-radius: 32px;
    background-color: #ffffff
    
    
}

.wrapper h2 span
{
    padding: 5px 0;
    text-align: center;
   color: white;
   font-size: 10x;
   font-weight: bold;
}
.wrapper p
{
    margin: 20px 50px;
    margin-right: 20px;
    color: #f9fbff;
    font-size: 23px;
}
.wrapper h1 span
{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    



}
#temp{
    text-align: center;
    margin-top: 50px;
}
#cityoutput{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color: #ffffff;
}
#wind{
    margin-right: 30px;
    margin-left:20px ;
}